.body{
    margin: 0px;   
}
.homepage{
    width: 100%;
    height: 100vh;
    background-image: url("resources/start.png");
    background-size: auto;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
    background-color: #F2F3D1;    
}
.idle{
    width: 370px;
    height: 370px;
    position: absolute;
    margin-top: 90px;
    margin-left: 600px;
}
.btn1
{
  margin-top: 150px;
  margin-left:1000px ;
  background-color: #622F22;
  -webkit-border-radius: 20px;
  border-radius: 10px;
  border: none;
  color:white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Harrington', sans-serif;
  font-size: 30px;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
}
.btn2
{
  margin-top: 90px;
  margin-left:1000px ;
  background-color: #622F22;
  -webkit-border-radius: 20px;
  border-radius: 10px;
  border: none;
  color:white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Harrington', sans-serif;
  font-size: 30px;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
}
.btn1:hover
{
    background-color:#835C3B ;
    cursor: pointer;
    color:white;
}
.btn2:hover
{
    background-color:#835C3B ;
    cursor: pointer;
    color:white;
}
.name
{  
    margin-top: 260px ;
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    border:none ;
    font-family: 'Algerian', sans-serif;
    animation:fade-inout 5s infinite alternate;
    color: #622F22;
}
.foot{
    margin-top: 100px ;
    text-align: center;
}
@keyframes fade-inout 
{
  0%{opacity:1;}
  100%{opacity:0}
}
